//
// Main Stylesheet
//

// Imports

// Compass
@import "compass"
@import "compass/layout"
@import "compass/utilities/general/min"

@import "h5bp"
@import "bourbon/bourbon"
@import "base/base"
@import "base/mediaqueries"
@import "type"

@import "iphone"

// /imports

// HTML5 Boilerplate Styles
@include h5bp-normalize
@include h5bp-base-styles
// /boilerplate

// Susy Grid Systems - choose one to customize
// @import "grid/fixed"
// @import "grid/magic"

// Font Awesome icons
// @import "font-awesome"

// to @extend

.arrow-right-icon
  @include hide-text
  width: 24px
  height: 24px
  background: no-repeat 0 50% url("/images/icons/arrow-right-small.svg") transparent
  @include transition(margin-left 0.2s ease)
  display: block
  float: right
  &:hover
    margin-right: 2px
    margin-left: -2px

.touch
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

// Can use within media queries following
// http://www.sitepoint.com/cross-media-query-extend-sass/
.large-icon
  background-size: 125%
  background-position-x: -8px
  width: 28px

// 

.tablet
  visibility: hidden

.screen-reader
  // Hide text from non-screen readers
  // http://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/
  position: absolute
  clip: rect(1px 1px 1px 1px) // for Internet Explorer
  clip: rect(1px, 1px, 1px, 1px)
  padding: 0
  border: 0
  height: 1px
  width: 1px
  overflow: hidden

p
  +font(medium)
  color: $dark

html, body
  height: 100%

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $light-brown
  +min-height(100%)

a
  +link-colors($white, $dark-brown, $dark-brown, $white, $dark-brown)
  @include transition(color 0.2s linear)

.col
  overflow: hidden

h1, h2, h3, p, .city
  font-size: rem(20)

h1
  +font(bold)
  color: #999
  display: inline
  color: $white
  line-height: rem(21)
  letter-spacing: -0.05px

h2
  +font(medium)
  display: inline
  color: $dark
  line-height: rem(27)
  letter-spacing: -0.1px

h3
  +font(bold)
  letter-spacing: -0.75px
  margin: 0
  span
    overflow: hidden

h3.dash
  letter-spacing: -1px
  // Dash next to title
  display: table
  white-space: nowrap
  &:before
    border-top: 3px solid $dark
    content: '&mdash;'
    text-indent: -9999px
    display: inline-block
    width: 20px
    position: relative
    top: 0.75em

h4, footer h3, footer p, footer li
  +font
  color: $dark-brown
  display: inline
  font-size: rem(12)
  line-height: rem(15)

footer h3, body.home #footer footer h3
  letter-spacing: 0

kbd
  background-color: #f5f5f5
  border: 1px solid #dedede
  padding: 0px 3px 2px

.logo-wrapper
  margin: 0 auto 0
  box-shadow: inset 0 0 0 5px $dark
  width: 92%
  &:hover
    box-shadow: none
  width: 320px
  img
    margin: 0 auto
    width: 92%
    display: block

body.general, body.home, body.content
  .logo-wrapper
    padding: 40px 0 10px 0
body.city
  .logo-wrapper
    padding: 23px 0 11px 0
body.home
  header, .cities
    width: 90%

.container
  width: 320px
  padding-top: 10px
  padding-bottom: 6em
  // For logo animations
  // Force images to scale down to their container widths.
  img, video
    max-width: 100%
  background-color: $light-brown
  margin: 0 auto 15px
  +min-height(800px)

#main-content
  // @extend .touch

.vjs-default-skin
  .vjs-big-play-button
    left: 39%
    top: 54%
    margin-top: -1.4000000000000001em
    border: 4px solid $white
    background-color: $overlay
    @include border-radius(10em)
    width: 2.1em
    height: 2.1em
    &:before
      text-shadow: none
      left: 3px
      top: 4px
      font-size: 1.6em
      line-height: 1.2em
      color: $white

.vjs-default-skin .vjs-control:focus:before,
.vjs-default-skin .vjs-control:hover:before
  color: red
  text-shadow: 0em 0em 1em rgba(255, 255, 255, 1)   

.vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus
  box-shadow: none

.video
  width: 320px

.video video
  width: 100%

.video.height640 .vjs-big-play-button
  top: 52%

.vjs-control-bar, .vjs-default-skin.vjs-has-started .vjs-control-bar
  display: none

.vjs-default-skin.vjs-has-started .vjs-control-bar
  .vjs-current-time.vjs-time-controls.vjs-control, .vjs-time-divider, .vjs-duration.vjs-time-controls.vjs-control, .vjs-remaining-time.vjs-time-controls.vjs-control, .vjs-live-controls.vjs-control, .vjs-progress-control.vjs-control, .vjs-mute-control.vjs-control, .vjs-volume-control.vjs-control
    display: none 
.vjs-default-skin .vjs-control-bar
  background-color: $overlay
.vjs-default-skin .vjs-control:before
  text-shadow: none
  color: $white

.vjs-poster
  background-size: 100%

video
  object-fit: cover

.header-wrapper
  width: 100%
  margin-top: 18px
  overflow: visible

header, .cities
  margin: 0 auto
  
.details
  width: 310px
  margin: 10px auto 0

.cities
  table
    margin-top: 0
    caption
      text-align: left
      margin-bottom: 0.3em
      float: left
    thead
      th
        text-indent: -9999px
        font-size: 0.5rem
        border-bottom: none
        &.city
          width: 90%
        &.cafecount
          width: 10%
    tr
      margin-bottom: 0.25em
      td
        border-bottom: 2px solid $border
        padding: 0.4em 0
        a
          color: $white
          +font
          display: inline-block
          min-height: 100%
          width: 100%
          &:hover
            color: $dark-brown
        &.icon
          a
            @extend .arrow-right-icon
            background-position-x: -2px
            width: 26px
            margin-right: 2px
            background-size: 100%
            @include transition(background-position 0.2s linear)
            &:hover
              margin-left: 0
              margin-right: 2px
              background-position-x: 0
        &.contribute a
          float: left
          width: 300px
        &.city
          width: 80%
        &.cafecount
          padding: 0.5em 0 0.2em
          a
            color: $dark-brown
            text-align: right
            float: right
            margin-right: 3px
            width: 30px
            &:hover
              color: $white

.icon a
  &:hover
    margin-left: 3px

small
  font-size: rem(12)
  line-height: rem(15)
  color: $dark-brown

.back
  border-bottom: 3px solid $white
  margin-bottom: 2.5em
  a
    @include hide-text
    display: inline-block
    @include transition(background-size 0.5s ease)  
    &.left-arrow
      width: 39px
      height: 30px
      background: no-repeat 2px 0 url("/images/icons/arrow-left-large.svg") transparent
      &:hover
        background-position-x: 0
    &.map-link
      margin-left: 4px
      width: 23px
      height: 35px
      background: no-repeat 0 0 url("/images/icons/map-pin.svg") transparent
      background-size: 22px
      &:hover
        background-size: 23px
  .page-title
    padding-left: 20px
    float: right
    display: inline-block
    a
      padding: 5px 4px
    h1
      +font(medium)
      font-size: rem(28)
      margin: 0.25em 0
      letter-spacing: -0.5px
      &:hover
        color: $dark


.cafe
  margin-bottom: 1em
  float: left
  &:last-child
    margin-bottom: 10em
  .video
    display: block
    border-top: 1px solid $white
    border-bottom: 1px solid $dark
    cursor: pointer
  .details
    border-bottom: 2px solid $white
    margin-bottom: 30px
    .cafe-title
      overflow: auto
      padding-bottom: 2px
      .name
        display: inline-block
        float: left
      h3
        +font(medium)
        font-size: rem(18)
        line-height: rem(20)
        color: $white
      .forward
        display: inline-block
        float: right
        a
          @extend .arrow-right-icon
          background-size: 105%
          width: 28px
          background-position-y: 34%
          background-position-x: -3px
          margin-right: 0
          @include transition(background-position 0.2s linear)
          &:hover
            margin-left: 0
            margin-right: 0
            background-position-x: -1px
    .post-details
      float: left
      display: block
      width: 100%
      margin: 6px 0
      .meta, small
        color: $dark-brown
        line-height: rem(14)
      .meta
        overflow: hidden
      .meta.date
        letter-spacing: -0.25px
      a
        color: $dark-brown
        &:hover
          font-style: normal
          color: $white
      .meta.username
        a
          +font(medium)
      .avatar
        +hide-text
        //box-shadow: 0 30px $overlay-avatar inset
        //@include transition(all 0.5s linear)
        height: 30px
        width: 30px
        background-size: 30px
        background-repeat: no-repeat
        display: block
        margin: 2px 6px 0 0
        float: left
        //&:hover
        //  box-shadow: none
      .left, .right
        width: 132px
        //margin-top: 7px
      .left
        float: left
        margin-left: 1px
      .right
        float: right
        text-align: right
        clear: right
        margin-right: 1px

body.content
  .container
    width: 320px
  .header-wrapper, #main-content
    width: 300px
    margin: 0 auto
  h1
    +font(medium)
    font-size: rem(28)
    line-height: rem(32)
    margin: 15px 0 0 0
    display: block
    letter-spacing: -0.5px
  h2
    +font(bold)
    margin: 0.5em 0
    display: block
  p
    margin: 0.3em 0 1em
    letter-spacing: 0.2px

.clearfix
  @include clearfix

#footer
  color: $dark-brown
  background-color: $light-brown
  +sticky-footer(180px)
  height: 100%
  footer
    width: 75%
    height: 182px
    margin: 0 auto
    &:before
      height: 3px
      background: $dark-brown //#423400
      width: 60px
      display: block
      content: ""
      margin: 0 0 1.5em 0
    p
      font-size: 0.6em
  a
    +link-colors($dark-brown, $white)
    +font(medium)
    &:hover
      font-style: normal
  section
    margin-bottom: 0.5em
    border-bottom: 1px solid $dark-brown
    display: block
    float: left
    width: 100%
    padding-bottom: 0.4em
  ul
    margin-right: 1em
    padding-left: 0
    margin-top: 0
    margin-bottom: 0
    float: left
    li
      display: block
    &:last-child
      margin-right: 0
  .creators
    p
      float: left
      margin: 0 0.5em 0 0
    .copyright
      float: left
      margin-right: 20px
  .open-source
    li
      float: left
      margin: 0
    .os-label
      width: 180px
    .github-link
      margin-top: -3px
      svg
        position: relative
        top: 2px
        fill: $dark
      width: 60px
      margin-left: 30px
      &:hover
        @include filter(brightness(0) invert(1))
  nav
    ul li
      float: left
      margin-right: 10px
      &:first-child
        margin-right: 15px
      &:last-child
        margin-right: 0
    .terms-link
      margin-right: 12px
    .contribute-link
      margin-left: 4px
    .home-link
      margin-left: 9px
  section, ul li
    line-height: rem(15)

@include max-screen(730px)
  #footer footer
    width: 300px

@include iphone6(portrait)
  @include iphone-dimensions(375px, 365px, 211px) 
  .video
    width: 100%

@include iphone6-plus(portrait)
  @include iphone-dimensions(414px, 400px, 233px)
  .video
    width: 100%
  .cities table tr td.icon a
    background-size: 125%
    background-position-x: -8px
    width: 28px

@include max-screen(375px)
  #footer footer
    width: 280px

@include max-screen(320px)
  body .logo-wrapper
    width: 310px
    img
      width: 283px


// Everything bigger than an iPhone 6+
@include min-screen(730px)
  #main-content
    overflow-y: hidden
  .tablet
    visibility: visible
  .container, body.home .container, body.content .container, #footer footer, body.home #footer footer
    width: 688px
  .container
    padding-top: 0.8em
  .col1, .cafe:nth-child(odd)
    float: left
  .col2, .cafe:nth-child(even)
    float: right
    clear: right
  header
    h1, h2
      line-height: rem(22)
      display: block
      float: left
      margin: 0.4em 0 0.2em 0
  .cities
    margin-top: 1.5em
  .header-wrapper
    margin-top: 0
  body.home, body.content
    #main-content, .col, .header-wrapper, .cities, header
      width: 540px
      margin: 0.2em 0 0 0
    .logo-wrapper
      @include transition(margin-left 0.2s linear)
      margin: 0
      &:hover
        margin-left: -10px
    #footer
      margin-top: 10em
    h1
      +font(bold)
      font-size: rem(32)
      line-height: rem(34)
    h2
      font-size: rem(26)
      line-height: rem(28)
    h3.dash
      font-size: rem(24)
    table
      tr
        td.city, td.cafecount, td.contribute
          font-size: rem(24)
        td
          padding: 0.5em 0
          &.icon a
            width: 30px
    #footer footer
      .col1
        width: 280px
      .col2
        float: left
        width: 230px
        margin-left: 20px
      .email, .about-link
        margin-left: 0
  body.content
    h1
      padding-top: 0
    p
      font-size: rem(22)
  body.city
    .logo-wrapper
      float: left
      @include transition(margin 0.2s linear)
      &:hover
        box-shadow: none
    .details.back
      .left-arrow
        float: left
        margin-top: 13px
      .map-link
        margin-top: 6px
        margin-left: 8px
    header
      width: 100%
    #main-content
      width: 688px
      margin-top: 2em
    .back
      float: right
      margin-top: 16px
      margin-bottom: 0.5em
       
    footer
      margin-top: 9em
  #footer footer
    height: 140px
    margin-top: 6em
    .col1, .col2
      width: 320px
    section.open-source
      border-bottom: 0px
    section.contact
      padding-top: 0.7em
    section
      padding-bottom: 0.9em
    .bottom
      padding-top: 0.2em
      padding-bottom: 0
      float: left


// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media
