!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge"}

    -# Pull in the page title
    %title= current_page.data.title ? current_page.data.title + " (Ristrettogram)" : "Ristrettogram - " + yield_content(:title)

    -# Preferred URL (rel="canonical")
    -# - if current_page.data.preferred_url
    -#  %link{:rel => "canonical", :href => current_page.data.preferred_url

    %meta{ :name => "description", :content => current_page.data.description }
    %meta{:name => "author", :content => "Yury Tsukerman, @ytspar"}

    %meta{:name => "robots", :content => "index,follow"}

    %meta{:content => "app", :name => "twitter:card"}
    %meta{:content => "ristrettogram", :name => "twitter:site"}
    %meta{:content => "http://ristrettogram.com/images/logo/ristrettogram-logo-square@10x.png", :name => "twitter:image:src"}
    // Open Graph General (Facebook & Pinterest)
    %meta{:content => current_page.data.title, :property => "og:title"}
    %meta{:content => "Ristrettogram", :property => "og:site_name"}
    %meta{:content => "http://ristrettogram.com", :property => "og:url"}
    %meta{:content => current_page.data.description, :property => "og:description"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "http://ristrettogram.com/images/logo/ristrettogram-logo-square@10x.png", :property => "og:image"}

    -# Google Plus
    -# meta itemprop='name' content=page_title
    -# meta itemprop='description' content=page_description
    -# meta itemprop='image' content=data.site.image    

    %link{:href => "//akamaihd.net", :rel => "dns-prefetch"}
    %link{:href => "//cdninstagram.com", :rel => "dns-prefetch"}
    %link{:href => "//zencdn.net", :rel => "dns-prefetch"}

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    -# Place favicon.ico and apple-touch-icon(s) in the root directory
    = partial "partials/icons"

    = stylesheet_link_tag "//vjs.zencdn.net/4.12/video-js.css"
    = stylesheet_link_tag "screen"

    = javascript_include_tag "//vjs.zencdn.net/4.12/video.js"
    -# = javascript_include_tag "libs/modernizr-2.7.1.min"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"
    :javascript
      window.onload = function () {
      var lala = document.getElementsByClassName('time-link');
      for(var i = 0; i < lala.length; ++i) {
          var ts = lala[i].getAttribute("data-time");
          var aa = lala[i];
          var fts = moment.unix(ts).fromNow();
          aa.innerHTML = fts;
          }
        }

  %body{:class => current_page.data.bodyclass}
    .container
      .logo-wrapper
        - link_to '/' do
          = image_tag "/images/logo/ristrettogram-logo.png", :alt => "ristrettogram - #{current_page.data.title}"
      .header-wrapper.col
        %header
          - if current_page.data.bodyclass == "home"
            %h1
              Explore the world’s best third wave cafes and roasters in seconds.
            %h2
              Take a fast-forward peek inside a cafe before you visit.

          - elsif current_page.data.bodyclass == "city"
            .details.back
              = link_to 'Back', '/', class: "left-arrow"
              - if current_page.data.has_key? "maplink"
                = link_to 'Map', current_page.data.maplink, class: "map-link", :target => "_blank"
              .page-title
                = link_to current_page.url do
                  %h1= current_page.data.title
          - else
            %h1=current_page.data.title

      .clearfix

      #main-content{:role => "main"}
        -# Page content gets rendered here
        - if current_page.data.bodyclass == "home"
          .col.col1
            .cities
              %table
                %caption
                  %h3.dash
                    Video tours of cafes in
                    %span.tablet
                      these cities,
                
                %thead
                  %tr
                    %th.city
                      City
                    %th.cafecount
                      Number of cafes
                %tbody
                  - sitemap.resources.each do |page|
                    - if page.data.bodyclass == "city"
                      %tr
                        %td.city
                          = link_to page.data.title, page.url
                        %td.cafecount
                          = link_to page.data.cafes.length.to_s.rjust(2, '0'), page.url
                  %tr
                    %td.city
                      &nbsp;
                    %td.cafecount
                %tfoot
                  %tr
                    %td.contribute
                      = contribute_link
                    %td.icon
                      = contribute_link

        - if current_page.data.bodyclass == "city"
          = partial "partials/city"

        -else
          = yield
      
    .clearfix

    -# Footer
    = partial "partials/footer"

    -# Javascript includes
    = partial "partials/javascript"
