-# you can access all the cafe elements from the yaml frontmatter in the
-# respective city haml files.

.screen-reader{:aria => { :hidden => "false"}}
  %h2
    List of cafes

- current_page.data.cafes.each do |cafe|
  .cafe
    .video{ :class => "height#{cafe.height.to_i}"}
      %video.video-js.vjs-default-skin{ :class => "height#{cafe.height.to_i}", :controls => true, :loop => true, width: "100%", height: "#{cafe.height.to_i/2}px", :preload => "none", :poster => "#{cafe.cover_image}", :data => {:setup => "{}"}}
        %source{:src => "#{cafe.video_url_low}", :type => "video/mp4"}
    .details
      .cafe-title
        .name
          %h3
            = link_to "#{cafe.cafe_name}", "https://instagram.com/p/#{cafe.link_shortcode}/"
        .forward
          = link_to "#{cafe.cafe_name}", "https://instagram.com/p/#{cafe.link_shortcode}/"
      .post-details{:data => {:igid => cafe.link_shortcode}}
        //- link_to "http://instagram.com/#{cafe.user_name}" do
        //  .avatar{:style => "background-image: url(#{cafe.user_image});"}
        //    %small= cafe.user_name
        .left
          .meta.username
            %small
              = link_to "@#{cafe.user_name}", "http://instagram.com/#{cafe.user_name}"
          .meta.date
            %small
              

        .right
          .meta.likes
            %small
              //= link_to pluralize(cafe.likes, 'like'), "https://instagram.com/p/#{cafe.link_shortcode}/"
          //.meta.comments
          .meta.date
            %small
              //= link_to pluralize(cafe.comments, 'comment'), "https://instagram.com/p/#{cafe.link_shortcode}/"
              = link_to '', "https://instagram.com/p/#{cafe.link_shortcode}/", :class => 'time-link', :data => {:time => cafe.created_time}
