#footer
  %h2.screen-reader{:aria => { :hidden => "false"}}
    Footer - copyright and contact information
  %footer
    .col1
      %section.creators
        .copyright
          %h3.screen-reader{:aria => { :hidden => "false"}}
            Copyright
          %p
            &copy; #{DateTime.now.strftime("%Y")}
        %ul
          %li.name
            %h4 Yury
          %li.twitter
            %small= link_to "@ytspar", "http://twitter.com/ytspar"
        %ul
          %li.name
            %h4 Alexej
          %li.twitter
            %small= link_to "@heyalexej", "http://twitter.com/heyalexej"
        %ul
          %li.name
            %h4 Nico
          %li.twitter 
            %small= link_to "@nicoappel", "https://twitter.com/nicoappel"
      %section.bottom.open-source
        %ul
          %li.os-label
            %h3
              This project is Open Source
          %li.github-link
            %small
              - link_to "http://github.com/ytspar/ristrettogram" do
                %svg{:height => "14", :width => "14", :xmlns => "http://www.w3.org/2000/svg", :viewbox => "0 0 14 14"}
                  %image{:height => "14", :width => "14", "xlink:href" => "/images/icons/mark-github-brown.svg"}
                Github
    .col2
      %section.contact
        %h3.screen-reader{:aria => { :hidden => "false"}}
          Contact us
        %ul
          %li.link
            = link_to "@ristrettogram", "http://twitter.com/ristrettogram"
        %ul.email
          %li.link
            = mail_to "ytspar+ristrettogram@gmail.com", "Send us an email"
      %nav.bottom
        %ul
          %li.about-link
            %small
              = link_to "About us", "/about-us.html"
          %li.contribute-link
            %small
              = contribute_link
          %li.home-link
            %small
              = link_to "Home", "/"
