---
title:      About us
bodyclass:  content
---

%p
  For now, have a look at our #{link_to "README on Github", "http://github.com/ytspar/ristrettogram"}.

%p<>
  UI by
  =link_to "Yury Tsukerman", "http://yury.in/projects"
  \.

%p<>
  Instagram integration,
  =link_to "Alexej Friesen", "http://twitter.com/heyalexej"
  \. 

%h2
  Contact
%p
  Twitter 
  =link_to "@ristrettogram", "http://twitter.com/ristrettogram"

%p
  Instagram 
  =link_to "@ristrettogram", "http://instagram.com/ristrettogram"

%p
  Github 
  =link_to "/ytspar/ristrettogram", "http://github.com/ytspar/ristrettogram"

%p<>
  = mail_to "ytspar+ristrettogram@gmail.com", "Email"