---
title: Bangkok
bodyclass: city
maplink: https://www.google.com/maps/d/viewer?mid=z-tU3clF_tN4.kUqKEVDORgKw

cafes:

  - cafe_name: "One Ounce for Onion"
    cafe_name_ig: One Ounce for Onion
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/12135363_131806997177180_118201280_n.jpg
    created_time: '1446010991'
    height: 360
    latitude: 13.730866685
    link_shortcode: 9XrU6Qihvc
    longitude: 100.589733404
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11718249_1656614417911813_1671561220_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12143682_1665026853768857_424254086_s.mp4
    width: 640

  - cafe_name: "Kaizen Coffee Co."
    cafe_name_ig: Kaizen Coffee Co.
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11875590_854569661288058_1955086600_n.jpg
    created_time: '1440239006'
    height: 640
    latitude: 13.737898731
    link_shortcode: 6rqI3VChoy
    longitude: 100.589013036
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11936328_425253584347325_2092639407_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11854815_1680299822200908_1687366449_s.mp4
    width: 640

  - cafe_name: "Roots (now in The Commons)"
    cafe_name_ig: RootsBKK
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324426_155069521495000_1829389839_n.jpg
    created_time: '1440235249'
    height: 640
    latitude: 13.735129335
    link_shortcode: 6ri-QRihtF
    longitude: 100.587759298
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11833688_725004314277823_256826400_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11937810_403376193194294_942953524_s.mp4
    width: 640

  - cafe_name: "Hands and Heart"
    cafe_name_ig: Hands and Heart
    cover_image: https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/12353483_783902911714065_784722574_n.jpg
    created_time: '1450700316'
    height: 357
    latitude: 13.72158175
    link_shortcode: _jbgQOChkl
    longitude: 100.57924895
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12364808_1517023825262039_1201696727_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xta1/t50.2886-16/12368496_1668654830077695_2080648329_s.mp4
    width: 640

  - cafe_name: "Size S Coffee & Bakery"
    cafe_name_ig: Size S Coffee & Bakery
    cover_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/12331583_201231333550855_676564726_n.jpg
    created_time: '1450416362'
    height: 357
    latitude: 13.723980459
    link_shortcode: _a958UChs-
    longitude: 100.548188217
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/10480463_1542983112659257_1928388113_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12352991_1694939080751325_152202332_s.mp4
    width: 640    

  - cafe_name: "D'ARK (soi 49)"
    cafe_name_ig: D'ARK by Phillip Di Bella
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/12357606_939575172746199_1988114007_n.jpg
    created_time: '1450776064'
    height: 360
    latitude: 13.7312727
    link_shortcode: _lr-wrihmJ
    longitude: 100.5757675
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xat1/t50.2886-16/10642500_1089166704450984_1446004945_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12372929_1511919655775884_1293797158_s.mp4
    width: 640

  - cafe_name: "April Store"
    cafe_name_ig: APRIL STORE
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/12362101_148523158846342_169778935_n.jpg
    created_time: '1450435851'
    height: 357
    latitude: 13.735105885
    link_shortcode: _bjE3Aihps
    longitude: 100.528375191
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12372829_1679801398901620_2045154439_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/10472481_521287954715195_779347530_s.mp4
    width: 640

  - cafe_name: "Casa Lapin X Aree"
    cafe_name_ig: Casa Lapin X Aree
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/12071264_1692998440986472_1272020846_n.jpg
    created_time: '1445848355'
    height: 357
    latitude: 13.781043322
    link_shortcode: 9S1H5LChhe
    longitude: 100.544502671
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12140355_1710512772515543_757368257_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12123482_910610372358553_459802206_s.mp4
    width: 640

  - cafe_name: "Casa Lapin x49"
    cafe_name_ig: Casa Lapin
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/12080456_884106801667209_1802409983_n.jpg
    created_time: '1445242274'
    height: 360
    latitude: 13.73516456
    link_shortcode: 9AxHZUihr3
    longitude: 100.577515172
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12128758_426558657534989_899097567_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12125833_765735870238322_528413795_s.mp4
    width: 640

  - cafe_name: "Casa Lapin x26"
    cafe_name_ig: "Casa Lapin X26 - \u0E04\u0E32\u0E0B\u0E48\u0E32 \u0E25\u0E32\u0E41\u0E1B\u0E07"
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/12120227_913122662074294_756294556_n.jpg
    created_time: '1445853252'
    height: 357
    latitude: 13.726621316
    link_shortcode: 9S-douChq8
    longitude: 100.569906346
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12141375_991466804228829_1829433866_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12123462_195869594091974_1756953624_s.mp4
    width: 640

  - cafe_name: "Pacamara (Chulalongkorn Hospital)"
    cafe_name_ig: "Pacamara \u0E2B\u0E2D\u0E2A\u0E21\u0E38\u0E14 \u0E04\u0E13\u0E30\u0E41\u0E1E\u0E17\u0E22\u0E4C\u0E08\u0E38\u0E2C\u0E32\u0E2F"
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/12362298_891585994289773_492843496_n.jpg
    created_time: '1450941802'
    height: 357
    latitude: 13.732699707
    link_shortcode: _qoGdnChod
    longitude: 100.536389846
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpa1/l/t50.2886-16/10919834_1657990617782042_1633035400_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xat1/t50.2886-16/10374709_198879960455136_2129072699_s.mp4
    width: 640

  - cafe_name: "I+d Style Cafe X Brave Roasters"
    cafe_name_ig: I+d Style Cafe X Brave Roasters
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/12393828_1681769275379099_813068535_n.jpg
    created_time: '1450955919'
    height: 357
    latitude: 13.746407641
    link_shortcode: _rDBvsihhn
    longitude: 100.531908873
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12396054_538941236272920_531108144_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/10655496_1003670836361011_1356645092_s.mp4
    width: 640

  - cafe_name: "Gallery Drip (BCC)"
    cafe_name_ig: "Gallery \u0E01\u0E32\u0E41\u0E1F\u0E14\u0E23\u0E34\u0E1B :: Kaffeetographer
      ::"
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/12393874_557466674400336_1394739042_n.jpg
    created_time: '1451111228'
    height: 357
    latitude: 13.746397331
    link_shortcode: _vrQcvihtN
    longitude: 100.53059739
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12445268_1691293014425719_897771451_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xat1/t50.2886-16/10745246_1522285768063903_2020435179_s.mp4
    width: 640

  - cafe_name: "Factory Cafe & Brew Bar"
    cafe_name_ig: Factory Cafe & Brew Bar
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/12338545_418068251736659_668117050_n.jpg
    created_time: '1451125817'
    height: 357
    latitude: 13.760169561
    link_shortcode: _wHFRPChkG
    longitude: 100.535814879
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/10725853_1658085914438739_734846473_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/10669554_160589847635823_768347572_s.mp4
    width: 640

  - cafe_name: "Rocket X Siwilai (Central Embassy)"
    cafe_name_ig: Rocket X Siwilai
    cover_image: https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/10576220_1724702477758237_402135540_n.jpg
    created_time: '1451200911'
    height: 357
    latitude: 13.744274158
    link_shortcode: _yWUAOChm3
    longitude: 100.546092119
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12445189_557430211074130_845288841_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12456658_874209066028996_271435102_s.mp4
    width: 640

  - cafe_name: "Pacamara (Rain Hill)"
    cafe_name_ig: PACAMARA
    cover_image: https://scontent.cdninstagram.com/hphotos-xtp1/t51.2885-15/e15/11261524_956640841086816_363183386_n.jpg
    created_time: '1451204845'
    height: 360
    latitude: 13.727606895
    link_shortcode: _yd0TcChiF
    longitude: 100.574079747
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpa1/t50.2886-16/11006744_554573598040400_201017274_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpt1/t50.2886-16/12368370_1750795448485206_2093799001_s.mp4
    width: 640

  - cafe_name: "Daily: Roast (Bhiraj)"
    cafe_name_ig: DAILY ROAST
    cover_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/12407264_178688009158902_764072480_n.jpg
    created_time: '1453109440'
    height: 360
    latitude: 13.731362728
    link_shortcode: BArOitakNF4
    longitude: 100.569894642
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xat1/t50.2886-16/12588946_898330993555476_1436615041_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12552068_1036210359762652_1546999501_s.mp4
    width: 640

  - cafe_name: "Roots (The Commons)"
    cafe_name_ig: Roots Coffee Roaster the Commons
    cover_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/12407574_1020772364657085_1507872412_n.jpg
    created_time: '1453191846'
    height: 360
    latitude: 13.73532486
    link_shortcode: BAtruFxChgE
    longitude: 100.582389832
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12604403_468430200008902_898319640_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12573622_880773228702007_1979187161_s.mp4
    width: 640

  - cafe_name: "INK & LION Café"
    cafe_name_ig: "INK & LION Caf\xE9"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/11372026_1559901224322505_816300365_n.jpg?ig_cache_key=MTE5NTQ4OTM3NzE3MTU5MTIyNA%3D%3D.2.l
    created_time: '1456733461'
    height: 357
    latitude: 13.723595464
    link_shortcode: BCXO0ErENA4
    longitude: 100.585053563
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12786427_503545259828799_1730041502_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12784828_1048355441890460_1419197423_s.mp4
    width: 640

  - cafe_name: "Toby's on Sukhumvit 38"
    cafe_name_ig: Toby's on Sukhumvit 38
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12747569_972547799459364_1759840090_n.jpg?ig_cache_key=MTE5NjkxMzM5MDk0Mjk5OTE5NA%3D%3D.2.l
    created_time: '1456903216'
    height: 357
    latitude: 13.718206104
    link_shortcode: BCcSmM2ENKa
    longitude: 100.579650287
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12776620_1555095671467148_996289703_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12808969_1683884885185768_717573606_s.mp4
    width: 640

  - cafe_name: "Coffee WORKS"
    cafe_name_ig: Coffee WORKS
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12751020_237262913276722_895687229_n.jpg?ig_cache_key=MTE5NzY4OTYyNjUxNDQ3NzExNw%3D%3D.2.l
    created_time: '1456995751'
    height: 360
    latitude: 13.720656288
    link_shortcode: BCfDF6jkNA9
    longitude: 100.568525791
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12796225_570696619761483_1542433457_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12815241_978224728879355_1421977511_s.mp4
    width: 640

  - cafe_name: "Hello strangers cafe"
    cafe_name_ig: Hello strangers cafe
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12747726_1713248568921001_1050791981_n.jpg?ig_cache_key=MTE5Nzc0MzEzNjg5OTY0OTU3NQ%3D%3D.2.l
    created_time: '1457002130'
    height: 360
    latitude: 13.7250996
    link_shortcode: BCfPQl_ENAn
    longitude: 100.5693893
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12824662_259663514365768_1601829741_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12750950_463256567209275_233670245_s.mp4
    width: 640

  - cafe_name: "Phil Coffee"
    cafe_name_ig: "Phil Coffee \u0E1F\u0E34\u0E25\u0E04\u0E2D\u0E1F\u0E1F\u0E35\u0E48"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12798185_1037980689577053_2130945927_n.jpg?ig_cache_key=MTE5ODM4MjE5NTEwODAwODA0MQ%3D%3D.2.l
    created_time: '1457078311'
    height: 360
    latitude: 13.724804755
    link_shortcode: BChgkHUkNBp
    longitude: 100.582374303
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12786657_1324738874208240_2008397306_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12815231_818701488252741_182691962_s.mp4
    width: 640

  - cafe_name: "Khom coffee @ café daypoets"
    cafe_name_ig: "caf\xE9 daypoets"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/11142768_219187678434416_1515616212_n.jpg?ig_cache_key=MTIwMDYyODkwODQ4OTIzMjQyMw%3D%3D.2.l
    created_time: '1457346140'
    height: 360
    latitude: 13.74778494
    link_shortcode: BCpfaGNkNAn
    longitude: 100.587338805
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10507372_976472432446616_1728705578_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/10427761_1696492387286063_777370290_s.mp4
    width: 640

  - cafe_name: "Ekkamai Macchiato - Home Brewer"
    cafe_name_ig: Ekkamai Macchiato - Home Brewer
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12826198_228650160817661_1342484173_n.jpg?ig_cache_key=MTIwMTMxOTAxMzQ1NzY0NjUyMw%3D%3D.2.l
    created_time: '1457428407'
    height: 360
    latitude: 13.7308002
    link_shortcode: BCr8UcjENO7
    longitude: 100.5876311
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12327659_1008396102541027_420191609_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12795807_1059863464086191_1704465264_s.mp4
    width: 640

  - cafe_name: "Ceresia Coffee Roasters (Silom)"
    cafe_name_ig: Ceresia Coffee Roasters
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12783947_848884808572944_1695578081_n.jpg?ig_cache_key=MTIwMjAwOTg0MTIxMzY5MDc2Mg%3D%3D.2.l
    created_time: '1457510760'
    height: 360
    latitude: 13.724939968
    link_shortcode: BCuZZUCENOK
    longitude: 100.537862778
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12327668_1666637363591171_1746599209_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12831426_1058395180890167_84234122_s.mp4
    width: 640

  - cafe_name: "I Am Coffee"
    cafe_name_ig: "I Am Coffee \u0E19\u0E23\u0E32\u0E18\u0E34\u0E27\u0E32\u0E2A\u0E0B\u0E2D\u0E22
      3"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/1169721_250565488616430_855736075_n.jpg?ig_cache_key=MTIwMjA1Nzk4NzAwMDE2MTAxMA%3D%3D.2.l
    created_time: '1457516500'
    height: 360
    latitude: 13.723084673
    link_shortcode: BCukV7SkNLy
    longitude: 100.530505341
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10515505_1047411031995888_648711757_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12824779_788344844643469_1769652046_s.mp4
    width: 640

  - cafe_name: "Casa Lapin X GMM"
    cafe_name_ig: Casa Lapin X Gmm
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12822391_197606673942944_1639454745_n.jpg?ig_cache_key=MTIwMjg2ODA1MjMzNDUzMDczMA%3D%3D.2.l
    created_time: '1457613067'
    height: 360
    latitude: 13.7430561
    link_shortcode: BCxch7bENCq
    longitude: 100.5637862
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/11175922_1137214862968711_411954901_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/10555742_173190766396748_1412021249_s.mp4
    width: 640

  - cafe_name: "Wonderwall | The Kaffebar"
    cafe_name_ig: Wonderwall l The Kaffebar
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12825771_1109216725789475_2064535088_n.jpg?ig_cache_key=MTIwMjczODUxNzI3ODUxMTc1Mg%3D%3D.2.l
    created_time: '1457597625'
    height: 360
    latitude: 13.737443014
    link_shortcode: BCw_E8gENKI
    longitude: 100.567224306
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10538988_821932927918832_66037342_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12839188_238262396511366_1058467315_s.mp4
    width: 640

  - cafe_name: "Ceresia Coffee Roasters (Sukhumvit)"
    cafe_name_ig: Ceresia Coffee Roasters
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12825759_1681210105473305_195297412_n.jpg?ig_cache_key=MTIwMjcwOTA5MjAzODEzNTk5Ng%3D%3D.2.l
    created_time: '1457594118'
    height: 357
    latitude: 13.733128548
    link_shortcode: BCw4YwHENC8
    longitude: 100.568237305
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10946756_1723133524565376_1630530989_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12815255_185972785111660_491320546_s.mp4
    width: 640

  - cafe_name: "Rocket S49"
    cafe_name_ig: Rocket S49
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12819037_884664958312504_2137296060_n.jpg?ig_cache_key=MTIwMzQxNDUxODk1MDA1Njg5MA%3D%3D.2.l
    created_time: '1457678211'
    height: 360
    latitude: 13.732045888
    link_shortcode: BCzYyEHkNO6
    longitude: 100.576383359
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10535116_1670106476540512_369307138_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/10852054_494422880765275_1635749777_s.mp4
    width: 640

  - cafe_name: "Alto Coffee Roasters (Suan Plern)"
    cafe_name_ig: "Alto Coffee Roasters \u0E2A\u0E27\u0E19\u0E40\u0E1E\u0E25\u0E34\u0E19"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12783261_1725877550991450_1869779799_n.jpg?ig_cache_key=MTIwNDIxNzYwMTI3OTk3MTgxNw%3D%3D.2.l
    created_time: '1457773946'
    height: 360
    latitude: 13.71689
    link_shortcode: BC2PYc0kNHp
    longitude: 100.5721614
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10344607_1517271055246367_957664129_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12423780_1989833231242678_121814997_s.mp4
    width: 640

  - cafe_name: "93army Coffee"
    cafe_name_ig: 93army Coffee
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12826301_1676886252551645_1735298386_n.jpg?ig_cache_key=MTIwNDE5NzcwMjE5MzE3MjU2NA%3D%3D.2.l
    created_time: '1457771574'
    height: 360
    latitude: 13.712523635
    link_shortcode: BC2K24WkNBU
    longitude: 100.585359746
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12530241_841888499291175_1584530374_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/10595204_1750887818510878_184671776_s.mp4
    width: 640    

  - cafe_name: "Roast (EmQuartier)"
    cafe_name_ig: Roast
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12798047_1356501607709529_1226763428_n.jpg?ig_cache_key=MTIwNDM5MTE4OTA5NDEyNjA0Ng%3D%3D.2.l
    created_time: '1457794639'
    height: 360
    latitude: 13.73109
    link_shortcode: BC222fEkNHe
    longitude: 100.56966
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/10742260_957827110997642_712330704_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12478644_564816897006287_1067122773_s.mp4
    width: 640

  - cafe_name: "Rocket X 72 Courtyard"
    cafe_name_ig: Rocket X 72 Courtyard
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/11372294_492470427607006_1906719621_n.jpg?ig_cache_key=MTIwNDk0Mzg2OTkxNDk2MDI0Mg%3D%3D.2.l
    created_time: '1457860524'
    height: 360
    latitude: 13.734807471
    link_shortcode: BC40hDMkNFy
    longitude: 100.582778547
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12382873_1711834072404750_1950470035_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12382922_992802120812655_179572274_s.mp4
    width: 640

  - cafe_name: "Bar Storia del Caffé"
    cafe_name_ig: "Bar Storia del Caff\xE9"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12797713_828168393960110_2087840504_n.jpg?ig_cache_key=MTIwNTc3MjM5Nzk4ODMzNTgwMw%3D%3D.2.l
    created_time: '1457959292'
    height: 360
    latitude: 13.7232904
    link_shortcode: BC7w5uGENC7
    longitude: 100.5775986
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12382521_187862468257388_1550487369_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12478659_1045092158881299_780929505_s.mp4
    width: 640

---
