---
title: "Berlin"
bodyclass: city

cafes:

  - cafe_name: "Bonanza Coffee Roasters"
    cafe_name_ig: Bonanza Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11373819_1002199079800753_1484008298_n.jpg
    created_time: '1438901639'
    height: 640
    latitude: 52.539959
    link_shortcode: 6DzUBDChrY
    longitude: 13.4054499
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11771470_866924230062645_815303916_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11769842_864225436997222_1448892406_s.mp4
    width: 640

  - cafe_name: "Silo Coffee"
    cafe_name_ig: Silo Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/1170369_1499056867067511_662993189_n.jpg
    created_time: '1451976194'
    height: 640
    latitude: 52.50984455
    link_shortcode: BAJdDBekNPA
    longitude: 13.458480578
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12501453_1661469890809017_1008901984_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12469320_1948113522081429_431275013_s.mp4
    width: 640

  - cafe_name: "Godshot"
    cafe_name_ig: Godshot
    cover_image: https://scontent.cdninstagram.com/hphotos-xtp1/t51.2885-15/e15/12357502_1529610267367346_536707356_n.jpg
    created_time: '1451974980'
    height: 640
    latitude: 52.5330696
    link_shortcode: BAJau26ENNP
    longitude: 13.4230003
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12482605_219292998403630_1932523814_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12407134_1563995033875488_143990787_s.mp4
    width: 640

  - cafe_name: "NO FIRE NO GLORY"
    cafe_name_ig: NO FIRE NO GLORY
    cover_image: https://scontent.cdninstagram.com/hphotos-xtp1/t51.2885-15/e15/12407524_1540139666312107_1707015215_n.jpg
    created_time: '1451975114'
    height: 640
    latitude: 52.5366287
    link_shortcode: BAJa_LqkNNU
    longitude: 13.4203901
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12466991_573934589432078_1979914304_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xat1/t50.2886-16/12452730_1725826037649960_1683620861_s.mp4
    width: 640

  - cafe_name: "19grams"
    cafe_name_ig: 19grams Berlin
    cover_image: https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/10632175_189882544696257_525608103_n.jpg
    created_time: '1451976553'
    height: 640
    latitude: 52.499914027
    link_shortcode: BAJdu6IkNP_
    longitude: 13.444296803
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12478737_1051049744956170_478668777_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12424126_1545267805792692_273341079_s.mp4
    width: 640

  - cafe_name: "Cafe CK"
    cafe_name_ig: "CAF\xC9 CK"
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/10607946_1548816942110142_1133409600_n.jpg
    created_time: '1451975470'
    height: 640
    latitude: 52.5355301
    link_shortcode: BAJbqseENOB
    longitude: 13.4227695
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xat1/t50.2886-16/12424288_667705469999168_1620190118_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/10688703_1697119553892379_1718151131_s.mp4
    width: 640

  - cafe_name: "The Barn Coffee Roasters"
    cafe_name_ig: The Barn Coffee Roasters
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12725106_158185911231622_371047108_n.jpg?ig_cache_key=MTE4ODQ1MjA4ODMzOTgxMzMxNQ%3D%3D.2.l
    created_time: '1455894550'
    height: 360
    latitude: 52.529892
    link_shortcode: BB-OuCuENPD
    longitude: 13.410674
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12738600_1039320209464986_1228722514_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12766572_1699780756964747_1791726467_s.mp4
    width: 640

  - cafe_name: "Chapter One Coffee"
    cafe_name_ig: Chapter One Coffee Berlin
    cover_image: https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e15/1173190_1544109845902924_558243013_n.jpg
    created_time: '1451975573'
    height: 640
    latitude: 52.4897919
    link_shortcode: BAJb3PIENOI
    longitude: 13.3958302
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12461254_188806558140396_653974403_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12492186_721303401337970_81399366_s.mp4
    width: 640

  - cafe_name: "Companion Coffee"
    cafe_name_ig: Companion Coffee
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12749893_621303821351023_445912677_n.jpg?ig_cache_key=MTE4NzE3NTkyNzEwNjI5NDA4OA%3D%3D.2.l
    created_time: '1455742420'
    height: 360
    latitude: 52.5009384
    link_shortcode: BB5sjc9ENFI
    longitude: 13.42099
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12738233_1036506533059620_847623077_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12730828_932351603517262_142751769_s.mp4
    width: 640

  - cafe_name: "Five Elephant Coffee"
    cafe_name_ig: Five Elephant Coffee & Cake
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12716981_565798686909387_1410472147_n.jpg?ig_cache_key=MTE4NzY4NjAwMzk0MDMxNTk2NA%3D%3D.2.l
    created_time: '1455803226'
    height: 360
    latitude: 52.4934082
    link_shortcode: BB7giDBkNM8
    longitude: 13.4382896
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12750844_466116296922050_518374006_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/11854850_1554488328198341_1399923136_s.mp4
    width: 640

---
