---
title: Budapest
bodyclass: city

cafes:

  - cafe_name: "My Little Melbourne (Brew Bar)"
    cafe_name_ig: My Little Melbourne Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/1690559_1652118975040054_145555972_n.jpg
    created_time: '1451970859'
    height: 360
    latitude: 47.497856406
    link_shortcode: BAJS338ENF_
    longitude: 19.057587282
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12456528_1675257996090274_683309670_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12482587_203542993322672_442231156_s.mp4
    width: 640

  - cafe_name: "Kontakt"
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11325786_439001609613163_1423618031_n.jpg
    created_time: '1439486629'
    height: 640
    link_shortcode: 6VPF6Gihjx
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11785161_733267733444477_1012620968_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11890386_606192842855489_326300072_s.mp4
    width: 640

  - cafe_name: "TAMP & PULL"
    cafe_name_ig: TAMP & PULL
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/1169879_1520110494955581_309390788_n.jpg
    created_time: '1451973372'
    height: 640
    latitude: 47.48469
    link_shortcode: BAJXqjQENKe
    longitude: 19.06147
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12456916_540110029490454_53639887_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12452467_1706476349575277_1677466949_s.mp4
    width: 640

  - cafe_name: "Blue Bird (roaster)"
    cafe_name_ig: Blue Bird Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/1516040_468128533377502_1062976017_n.jpg
    created_time: '1451970703'
    height: 360
    latitude: 47.4977798
    link_shortcode: BAJSkv0ENFx
    longitude: 19.0606003
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xta1/t50.2886-16/12445454_193701760980941_650003446_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12501390_1668392700074381_599008444_s.mp4
    width: 640

  - cafe_name: "Mantra Speciality Coffee Minibar"
    cafe_name_ig: Mantra Specialty Coffee Minibar
    cover_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/12424860_1570179763268164_1581070431_n.jpg
    created_time: '1451973801'
    height: 640
    latitude: 47.488759362
    link_shortcode: BAJYe9DENLU
    longitude: 19.058020002
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12423883_1061452127240080_730554968_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12501072_1086487008069065_227775436_s.mp4
    width: 640


---
