---
title: Chiang Mai
bodyclass: city

cafes:

  - cafe_name: "Ristr8to (Central Festival)"
    cafe_name_ig: Doppio Ristr8to Central Festival Chiangmai
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11348337_131098920572039_944029969_n.jpg
    created_time: '1441183103'
    height: 360
    latitude: 18.805690705
    link_shortcode: 7Hy3FLihqm
    longitude: 99.017996818
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11890133_1623722444558015_273499899_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11854979_1697263380497467_506148706_s.mp4
    width: 640
    
  - cafe_name: "Akha Ama (Santitham)"
    cafe_name_ig: Aka Ama Coffees
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11856818_111945572492865_550982150_n.jpg
    created_time: '1440390967'
    height: 640
    latitude: 18.80311976
    link_shortcode: 6wL-uhihiE
    longitude: 98.980048273
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11899121_1612661138972615_94604290_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11898736_1463966880576507_1597067431_s.mp4
    width: 640
    
  - cafe_name: "Ristr8to Lab"
    cafe_name_ig: Ristr8To
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11848996_828880553876780_2119804062_n.jpg
    created_time: '1440306303'
    height: 640
    latitude: 18.799136878
    link_shortcode: 6tqf2yChqG
    longitude: 98.967127028
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11936049_1673002006266087_277876542_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11898979_1481000565554298_623254316_s.mp4
    width: 640

  - cafe_name: "Pacamara Coffee"
    cafe_name_ig: Pacamara Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/928843_762671537194293_2144204159_n.jpg
    created_time: '1441365579'
    height: 360
    latitude: 18.788210405
    link_shortcode: 7NO6B1Chsc
    longitude: 98.986782894
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11883661_1622432184692356_2024530883_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11918608_868291759887371_1173583230_s.mp4
    width: 640

  - cafe_name: "Ponganes Espresso"
    cafe_name_ig: Ponganes Espresso
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11336168_146555532354202_30841166_n.jpg
    created_time: '1441541361'
    height: 360
    latitude: 18.790106536
    link_shortcode: 7SeLwHihmx
    longitude: 98.990070226
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11938279_165477093788514_1724557661_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11928470_1630420140546850_345976795_s.mp4
    width: 640 

  - cafe_name: "Artisan Cafe"
    cafe_name_ig: Artisan Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11850347_665629633573116_37092193_n.jpg
    created_time: '1441710428'
    height: 640
    latitude: 18.799568107
    link_shortcode: 7XgpzKihjx
    longitude: 98.977578373
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11983185_1001095019942485_407487826_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12003595_130321210649185_1858844124_s.mp4
    width: 640

  - cafe_name: "Ristr8to (Original)"
    cafe_name_ig: Ristr8to Coffee Estate @Nimman, CNX
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11821286_844488679000329_1129078764_n.jpg
    created_time: '1441855970'
    height: 640
    latitude: 18.799143333
    link_shortcode: 7b2QKFChkN
    longitude: 98.967141423
    user_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12003564_885381411511571_1270280954_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11948784_695330397235876_1602367563_s.mp4
    width: 640

  - cafe_name: "Akha Ama (Old Town)"
    cafe_name_ig: Akha Ama Coffee La Fattoria
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11849870_1661356560775684_1301457399_n.jpg
    created_time: '1443245174'
    height: 360
    latitude: 18.788426917
    link_shortcode: 8FP8rcihmL
    longitude: 98.983294443
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11988104_1629596890630261_378134064_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11936355_143976902617565_509206916_s.mp4
    width: 640

  - cafe_name: "Thom Artisan (Promenada)"
    cafe_name_ig: Thom Artisan Coffee At Promenada Resort Mall.
    cover_image: https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/11363827_626921067450401_29904391_n.jpg
    created_time: '1447386237'
    height: 357
    latitude: 18.766822355
    link_shortcode: -AqZn1Chsh
    longitude: 99.037019742
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/l/t50.2886-16/11981836_944863838914367_466783018_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12123310_957408254326435_1103922050_s.mp4
    width: 640

  - cafe_name: "Omnia Cafe"
    cafe_name_ig: Omnia Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/12394025_541105602720771_2024140764_n.jpg
    created_time: '1451377591'
    height: 357
    latitude: 18.7608929
    link_shortcode: _3nTX5Chrs
    longitude: 98.9925537
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/10951794_168395386851590_1967806210_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12466527_1537830809877440_1333867469_s.mp4
    width: 640

  - cafe_name: "Toong's Coffee Roaster"
    cafe_name_ig: "Toongs Coffee Roaster \u0E42\u0E23\u0E07\u0E04\u0E31\u0E48\u0E27\u0E01\u0E32\u0E41\u0E1F\u0E16\u0E38\u0E07\u0E01\u0E32\u0E41\u0E1F"
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/1170098_829971747125353_1359601301_n.jpg
    created_time: '1451722515'
    height: 360
    latitude: 18.725087121
    link_shortcode: BAB5MbQChiJ
    longitude: 98.925168514
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xap1/l/t50.2886-16/12445563_158601687839234_1167374117_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12482496_721761964592772_798648486_s.mp4
    width: 640

  - cafe_name: "Somkiat Style Cafe"
    cafe_name_ig: "Somkiat Style Cafe - \u0E2A\u0E21\u0E40\u0E01\u0E35\u0E22\u0E23\u0E15\u0E34\u0E2A\u0E44\u0E15\u0E25\u0E4C
      \u0E04\u0E32\u0E40\u0E1F\u0E48"
    cover_image: https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/917948_1501941416778259_410133591_n.jpg
    created_time: '1451811600'
    height: 360
    latitude: 18.794856012
    link_shortcode: BAEjG9mihjE
    longitude: 98.970689119
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpt1/l/t50.2886-16/12445505_1699582280279547_1755954136_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12445737_587778691375973_2105010143_s.mp4
    width: 640

  - cafe_name: "Thom Artisan (Lanna Museum)"
    cafe_name_ig: "Thom Artisan @\u0E2A\u0E33\u0E19\u0E31\u0E01\u0E2A\u0E48\u0E07\u0E40\u0E2A\u0E23\u0E34\u0E21\u0E28\u0E34\u0E25\u0E1B\u0E27\u0E31\u0E12\u0E19\u0E18\u0E23\u0E23\u0E21"
    cover_image: https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/1390145_239211343085632_1074591082_n.jpg
    created_time: '1451971419'
    height: 360
    latitude: 18.791697682
    link_shortcode: BAJT8KPENHG
    longitude: 98.961610448
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12482601_118194405224547_1863993666_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12469259_1524410857851298_1754438166_s.mp4
    width: 640

  - cafe_name: "9th Street Cafe"
    cafe_name_ig: 9th Street Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/10616802_603177066489883_352785342_n.jpg
    created_time: '1451971617'
    height: 360
    latitude: 18.797508798
    link_shortcode: BAJUUZ9ENHb
    longitude: 98.968270179
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12467063_499642826905923_578658243_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12501419_587246024762172_168480766_s.mp4
    width: 640

  - cafe_name: "Nine-One Coffee"
    cafe_name_ig: Nine-One CoffeeChiangmai
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/914546_1707231366155164_1287862457_n.jpg
    created_time: '1451972342'
    height: 360
    latitude: 18.796991031
    link_shortcode: BAJVs1qkNIq
    longitude: 98.966914938
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12482626_437216743154584_40663258_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12478931_821478857974208_702949341_s.mp4
    width: 640

  - cafe_name: "Graph Cafe"
    cafe_name_ig: "GRAPH CAF\xC9"
    cover_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/1209725_450568201807177_1610931712_n.jpg
    created_time: '1451977916'
    height: 360
    latitude: 18.791746389
    link_shortcode: BAJgVSKkNC0
    longitude: 98.991509627
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12478454_1517878165208739_274741031_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12501112_1550325661958498_1455720466_s.mp4
    width: 640

  - cafe_name: "Artisan Cafe at Oxotel"
    cafe_name_ig: Artisan Cafe at Oxotel
    cover_image: https://scontent.cdninstagram.com/hphotos-xta1/t51.2885-15/e15/12407647_538079493038598_1632625306_n.jpg
    created_time: '1452049335'
    height: 357
    latitude: 18.775521618
    link_shortcode: BALojYDihpT
    longitude: 98.981565509
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12456481_1544099535909660_1455279191_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12478456_1504872446474608_1377611255_s.mp4
    width: 640

  - cafe_name: "Cottontree Cafe"
    cafe_name_ig: Cottontree Coffee & Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xtp1/t51.2885-15/e15/12534171_1833478150212101_590695094_n.jpg
    created_time: '1452234250'
    height: 357
    latitude: 18.803780623
    link_shortcode: BARJQGLihsO
    longitude: 98.967472315
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12469323_1648890732027957_1549580265_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12456576_148131062226647_1270109206_s.mp4
    width: 640

  - cafe_name: "Happy Espresso Bar"
    cafe_name_ig: Happy Espresso Bar
    cover_image: https://scontent.cdninstagram.com/hphotos-xta1/t51.2885-15/e15/12519485_1673330049591125_776726581_n.jpg
    created_time: '1452672196'
    height: 357
    latitude: 18.7816944
    link_shortcode: BAeMkN6ENLi
    longitude: 98.9833527
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/12567568_477895219078007_1768076806_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12482600_961515537270205_1615044457_s.mp4
    width: 640

  - cafe_name: "Impresso Espresso Bar"
    cafe_name_ig: Impresso Espresso Bar
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/1389618_1555967658059205_908225654_n.jpg
    created_time: '1451972072'
    height: 640
    latitude: 18.73743
    link_shortcode: BAJVL4WENIK
    longitude: 98.96107
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12482442_802026926574111_1197485368_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12472076_976512765756710_1411659814_s.mp4
    width: 640

  - cafe_name: "Khao Tha (Pai, Mae Hong Son)"
    cafe_name_ig: "Khaotha - \u0E01\u0E32\u0E41\u0E1F\u0E40\u0E02\u0E49\u0E32\u0E17\u0E48\u0E32"
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11910460_518437924976055_1379715930_n.jpg
    created_time: '1440673666'
    height: 640
    latitude: 19.35202685
    link_shortcode: 64nL-hihsP
    longitude: 98.442049932
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11854934_1480122102311238_629776096_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11948629_521555088009707_2092274430_s.mp4
    width: 640

  - cafe_name: "Blacksmith (Lamphun)"
    cafe_name_ig: Blacksmith
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/10349635_194849130860813_371369579_n.jpg
    created_time: '1451547944'
    height: 360
    latitude: 18.567827452
    link_shortcode: _8sOaOChsy
    longitude: 99.001392384
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12466709_581949525293349_2105201517_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12406703_169359176756341_285579839_s.mp4
    width: 640

  - cafe_name: "Note Espresso (Lamphun)"
    cafe_name_ig: Note Espresso
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/10401861_1491808534461960_161871744_n.jpg
    created_time: '1451545903'
    height: 357
    latitude: 18.580868574
    link_shortcode: _8oVYKihlt
    longitude: 99.006011117
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xta1/t50.2886-16/12456481_478920738981591_286477175_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12466984_199447953736985_11676417_s.mp4
    width: 640

---
