---
title: "Hong Kong"
bodyclass: city

cafes:

  - cafe_name: "The Cupping Room (Sheung Wan)"
    cafe_name_ig: The Cupping Room - Sheung Wan
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/10448849_562066547291248_258154833_n.jpg
    created_time: '1452924472'
    height: 357
    latitude: 22.28523588
    link_shortcode: BAltvnSENPU
    longitude: 114.150258175
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12573605_1509874252640863_1336852761_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12501357_1684291705150845_439889534_s.mp4
    width: 640

  - cafe_name: "The Cupping Room (Wan Chai)"
    cafe_name_ig: The Cupping Room - Wan Chai
    cover_image: https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/10616311_1566320933657983_39563244_n.jpg
    created_time: '1452931238'
    height: 357
    latitude: 22.2761593
    link_shortcode: BAl6pnzENOy
    longitude: 114.1719513
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12560271_1642368089345728_464580993_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xap1/t50.2886-16/12560203_1552953181692972_2031717248_s.mp4
    width: 640

  - cafe_name: "CoCo Espresso (Central Shop)"
    cafe_name_ig: CoCo Espresso
    cover_image: https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/12534191_1656916347895904_517465587_n.jpg
    created_time: '1452924331'
    height: 357
    latitude: 22.285141789
    link_shortcode: BAlteaYkNO-
    longitude: 114.152864685
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12560320_963303257056285_172708832_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfp1/t50.2886-16/12551746_1053509484712319_1369064923_s.mp4
    width: 640

  - cafe_name: "18Grams (Sheung Wan)"
    cafe_name_ig: 18Grams Specialty Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/10296761_926377130765351_1317404126_n.jpg
    created_time: '1452924081'
    height: 357
    latitude: 22.2859592
    link_shortcode: BAls_4uENOj
    longitude: 114.1522598
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12518621_125330204513079_1301153940_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpa1/t50.2886-16/12567670_207585839588415_1230085861_s.mp4
    width: 640

  - cafe_name: "Fuel (IFC Mall, 3F)"
    cafe_name_ig: Fuel
    cover_image: https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/e15/12479299_964443670302147_1065349381_n.jpg
    created_time: '1452923874'
    height: 357
    latitude: 22.285227731
    link_shortcode: BAlsmuPENN5
    longitude: 114.157374694
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12492102_1505515169753899_1494243692_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12500894_544327692407320_810914513_s.mp4
    width: 640

  - cafe_name: "Coffee Academics (Johnston)"
    cafe_name_ig: "The Coffee Academ\xEFcs, Johnston Road"
    cover_image: https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/12552236_177944479227483_80696339_n.jpg
    created_time: '1452923729'
    height: 357
    latitude: 22.276826138
    link_shortcode: BAlsU87ENNX
    longitude: 114.17069746
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xpt1/t50.2886-16/12563961_524733477686866_608997072_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12567501_101786533537640_1446452277_s.mp4
    width: 640

  - cafe_name: "Barista Jam"
    cafe_name_ig: Barista Jam
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/11078619_1290838130933481_612735704_n.jpg
    created_time: '1452742696'
    height: 357
    latitude: 22.285681725
    link_shortcode: BAgTCQZChvx
    longitude: 114.1502258
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12573569_446037832259495_1535320047_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/12552038_417999541744677_2022227300_s.mp4
    width: 640

---