---
title: Kuala Lumpur
bodyclass: city

cafes:

  - cafe_name: VCR 
    cafe_name_ig: VCR
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/12142154_1625207854398954_304332510_n.jpg
    created_time: '1444545321'
    height: 360
    latitude: 3.143219745
    link_shortcode: 8r_yG4ihkX
    longitude: 101.705470392
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12128814_1512316825727489_1622204025_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12144416_1705190556377508_1030138825_s.mp4
    width: 640
   
  - cafe_name: Feeka Coffee Roasters
    cafe_name_ig: Feeka
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/12139629_1033252263376371_758111068_n.jpg
    created_time: '1444630669'
    height: 360
    latitude: 3.1485901
    link_shortcode: 8uikkuihk7
    longitude: 101.7083511
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12125789_426088454263531_628399939_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12134232_869718436415959_552813664_s.mp4
    width: 640

  - cafe_name: 8 Oz Coffee (KLCC)
    cafe_name_ig: 8 Oz Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/12071051_510174779151946_629173523_n.jpg
    created_time: '1444626865'
    height: 360
    latitude: 3.15736763
    link_shortcode: 8ubUOcChrx
    longitude: 101.711553217
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12143730_465713130278320_1007617073_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12091027_961502680583420_575046694_s.mp4
    width: 640

  - cafe_name: PULP by Papa Palheta
    cafe_name_ig: PULP by Papa Palheta
    cover_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/1739581_1682390962006360_1952903630_n.jpg
    created_time: '1444710001'
    height: 360
    latitude: 3.124290732
    link_shortcode: 8w54qJChsr
    longitude: 101.674298733
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12069801_1650302421921693_745638910_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12128491_995878440453796_1337207655_s.mp4
    width: 640

  - cafe_name: LOKL Coffee Co
    cafe_name_ig: LOKL Coffee Co
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/12063186_734029543370358_1651947634_n.jpg
    created_time: '1444793228'
    height: 640
    latitude: 3.14873
    link_shortcode: 8zYoLxChvo
    longitude: 101.6979828
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12134276_375291472661758_1342735065_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/12020918_1508335386152742_166126065_s.mp4
    width: 640

  - cafe_name: Three Little Birds Coffee
    cafe_name_ig: Three Little Birds Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/12144121_803724836420050_333875366_n.jpg
    created_time: '1444802442'
    height: 360
    latitude: 3.180994461
    link_shortcode: 8zqM71ihh1
    longitude: 101.691983396
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12143680_181968508809915_1486957941_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12143827_892690604117467_257565439_s.mp4
    width: 640

---
