---
title: "Stockholm"
bodyclass: city

cafes:

  - cafe_name: "Drop Coffee"
    cafe_name_ig: Drop Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/12545449_1527991477494946_1682258949_n.jpg
    created_time: '1453551872'
    height: 357
    latitude: 59.31686103
    link_shortcode: BA4aajiihhv
    longitude: 18.06301431
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpt1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xtp1/t50.2886-16/12604059_1507357842899162_2128813078_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xta1/t50.2886-16/12588985_521788864667711_25895956_s.mp4
    width: 640

  - cafe_name: "Johan & Nyström (Konceptbutik)"
    cafe_name_ig: "Johan Och Nystr\xF6m"
    cover_image: https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/12547328_1239090756102881_932988153_n.jpg
    created_time: '1453646151'
    height: 357
    latitude: 59.316197768
    link_shortcode: BA7OPRYENEa
    longitude: 18.063919965
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12629499_221968404810153_701335446_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xta1/t50.2886-16/12604442_536343179875756_1917065298_s.mp4
    width: 640
    
---
