---
title: "Tel Aviv"
bodyclass: city

cafes:

  - cafe_name: "Purple Square (f/k/a Cafelix)"
    cafe_name_ig: Purple Square - f/k/a Cafelix
    cover_image: https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/12543275_1672849396334478_285618230_n.jpg
    created_time: '1453901435'
    height: 357
    latitude: 32.056554231
    link_shortcode: BBC1J1tENMm
    longitude: 34.761300087
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/hphotos-xft1/t50.2886-16/12629681_1003902289680756_1532313196_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xpf1/t50.2886-16/12649562_998178190258429_555656539_s.mp4
    width: 640

  - cafe_name: "Cafelix (Shlomo Hamelekh)"
    cafe_name_ig: Cafelix Shlomo Hamelekh
    cover_image: https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/e15/12599359_241909549474031_2113690157_n.jpg
    created_time: '1453901278'
    height: 360
    latitude: 32.0774
    link_shortcode: BBC02nhkNL_
    longitude: 34.77666
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12625261_1692930274326301_246890559_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12636601_1683806178563201_438672077_s.mp4
    width: 640

  - cafe_name: "Nahat"
    cafe_name_ig: "\u05E0\u05D7\u05EA Nahat"
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12628107_863171710458765_1638901847_n.jpg
    created_time: '1454784455'
    height: 640
    latitude: 32.07851
    link_shortcode: BBdJYZGkNH5
    longitude: 34.77455
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12676597_490096207840372_744262796_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12668808_573355989495683_1095245854_s.mp4
    width: 640

  - cafe_name: "Brew Shop Coffee"
    cafe_name_ig: Brew Shop Coffee
    cover_image: https://scontent.cdninstagram.com/l/t51.2885-15/e15/10471843_479863142204877_1583795638_n.jpg?ig_cache_key=MTE4NDI4MjA2MzA5MzY4MzAyNA%3D%3D.2.l
    created_time: '1455397445'
    height: 360
    latitude: 32.082215489
    link_shortcode: BBvakMEkNNQ
    longitude: 34.771621227
    user_image: https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12478980_1739909056243220_888579366_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/10254683_1037155019684484_502189359_s.mp4
    width: 640    

---
