---
title: Warsaw
bodyclass: city

cafes:

  - cafe_name: "Ministerstwo Kawy"
    cafe_name_ig: Ministerstwo Kawy
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12783378_907930015993469_1782202528_n.jpg?ig_cache_key=MTE5MTM3NjUyMjYwNDIzNjgzMw%3D%3D.2.l
    created_time: '1456243170'
    height: 360
    latitude: 52.218960798
    link_shortcode: BCInqKXkNAh
    longitude: 21.018428232
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12445310_1756813684549055_500577699_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12769012_238772419791050_1762614172_s.mp4
    width: 640

  - cafe_name: "Filtry Cafe"
    cafe_name_ig: Filtry Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11325763_1618999505034582_837144920_n.jpg
    created_time: '1439312380'
    height: 640
    latitude: 52.220500871
    link_shortcode: 6QCvXFChvK
    longitude: 20.98878121
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11883647_957264307629627_1430945021_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11785343_1630496007191737_227745062_s.mp4
    width: 640

  - cafe_name: "Relaks Kawiarnia"
    cafe_name_ig: Relaks kawiarnia
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11856835_1464756267160014_2038761402_n.jpg
    created_time: '1439298660'
    height: 640
    latitude: 52.2027588
    link_shortcode: 6PokeNChv0
    longitude: 21.0217705
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11854734_1483581691940260_1245065055_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11797310_1025155520842477_1975610663_s.mp4
    width: 640

  - cafe_name: "MiTo"
    cafe_name_ig: MiTo
    cover_image: https://scontent.cdninstagram.com/t51.2885-15/e15/12407631_1662074984065972_48562591_n.jpg?ig_cache_key=MTE5MTQzNjA0MTQ5NzY2MjE0OA%3D%3D.2.l
    created_time: '1456250265'
    height: 360
    latitude: 52.22069
    link_shortcode: BCI1MRqENLE
    longitude: 21.01601
    user_image: https://scontent.cdninstagram.com/t51.2885-19/s150x150/12407706_1655656498025515_1275839269_a.jpg
    user_name: ristrettogram
    video_url_high: https://scontent.cdninstagram.com/t50.2886-16/12781476_104228499969769_1161854066_n.mp4
    video_url_low: https://scontent.cdninstagram.com/t50.2886-16/12318896_653439381462425_447786907_s.mp4
    width: 640

---